@model ModernHall.Models.BookingModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Calender/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src='~/Calender/lib/moment.min.js'></script>
<script src="~/Calender/fullcalendar.js"></script>
<link href="~/Calender/fullcalendar.print.css" media="print" rel="stylesheet" />
<style>
    body {
        overflow-x: hidden;
    }

    .modal-dialog {
        width: 600px !important;
        margin: 30px auto !important;
        left: 0px !important;
    }

    section.page-header h1 {
        border-bottom: none !important;
    }
</style>
<div role="main" class="main">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="home.html">Home</a></li>
                        <li class="active">BOOK NOW</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Check availability</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div id='calendar'></div>
        </div>

    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="bookApptContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                @using (Html.BeginForm("AddBooking", "Booking", FormMethod.Post))
                {

                    <div class="modal-body">
                        @Html.HiddenFor(x => x.PackageType)
                        @Html.TextBoxFor(model => model.BookingDate, htmlAttributes: new { @type = "hidden" })
                        <div class="">
                            <div class="row">
                                <label class="col-md-4">Event Title</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x=>x.Title)
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-4">Full Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-4">Date: </label>
                                <label class="col-md-4" id="bookingslotDate"></label>
                            </div>
                            <div class="row">
                                <label class="col-md-4">Banquet hall</label>
                                <div class="col-md-4">

                                    @Html.DropDownListFor(x => x.Location, new List<SelectListItem>
                                    {
                                        new SelectListItem{ Text="Charminar", Value = "Charminar" },
                                        new SelectListItem{ Text="Banjara Hills", Value = "Banjara Hills" },
                                        new SelectListItem{ Text="Tolichowki", Value = "Tolichowki" },
                                     }, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-4">Event description</label>
                                <div class="col-md-4">
                                    @Html.TextAreaFor(x => x.EventDescription, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-4">Phone number</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Mobile)
                                </div>
                                <!--<div class="col-md-4">
                                    <input type="button" class="btn btn-primary" id="btnSendOTP" value="Send OTP">
                                </div>-->
                            </div>
                            <div class="row">
                                <label class="col-md-4">Confirm phone number</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.ConfrimMobile, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ConfrimMobile)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="btnSaveAppt">Save appoinment</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            events: '@Url.Action("GetDiaryEvents","Booking")',
            dayClick: function (date,jsEvent,view) {
                var bookingDate = moment(date).format('MM-DD-YYYY');
                var m = moment(new Date());
                var today = m.format("MM-DD-YYYY");
                var events = $('#calendar').fullCalendar('clientEvents');
                events.forEach(function (item) {
                    if (moment(date).isSame(moment(item.start))) {
                        e.preventDefualt();
                        return;
                    }
                });
               
                if (bookingDate < today) {
                    return;
                }
                else {
                    $('#myModal').modal('show');
                    $("#bookingslotDate").html(bookingDate);
                    $("#BookingDate").val(bookingDate);
                }
            },
        });

        //$("#btnSaveAppt").click(function () {
        //    debugger;
        //    var date = $("#bookingslotDate").text();
        //    $("#BookingDate").val(date);
        //})
    });

</script>
