@model ModernHall.Models.UserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        width: 50% !important;
    }
</style>
<div role="main" class="main">

    <section class="form-section">
        <div class="container">
            <h1 class="h2 heading-primary font-weight-normal mb-md mt-lg">Login or Create an Account</h1>

            <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                <div class="box-content">
                    <div class="row">
                        <form action="@Url.Action("Login","UserAccount")" method="post">
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <h3 class="heading-text-color font-weight-normal">Registered Customers</h3>
                                    <p>If you have an account with us, please log in.</p>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Email Address <span class="required">*</span></label>
                                        @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.EmailID)
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-normal">Password <span class="required">*</span></label>
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>

                                    <p class="required">* Required Fields</p>
                                </div>

                                <div class="form-action clearfix">
                                    @*<a href="#" class="pull-left">Forgot Your Password?</a>*@

                                    <input type="submit" class="btn btn-primary" value="Login">
                                </div>
                            </div>
                        </form>
                        <form action="@Url.Action("Index","UserAccount")" method="post">
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <h3 class="heading-text-color font-weight-normal">New Customers</h3>
                                    <p>Create your account with us.</p>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Name <span class="required">*</span></label>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Name)
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Mobile <span class="required">*</span></label>
                                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Mobile)
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Email Address <span class="required">*</span></label>
                                        @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.EmailID)
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-normal">Password <span class="required">*</span></label>
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Confrim Password <span class="required">*</span></label>
                                        @Html.PasswordFor(x => x.ConfrimPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ConfrimPassword)
                                    </div>

                                    <p class="required">* Required Fields</p>
                                </div>

                                <div class="form-action clearfix">
                                    @*<a href="#" class="pull-left">Forgot Your Password?</a>*@

                                    <input type="submit" class="btn btn-primary" value="Create Account">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>
